:root{
    --color1:#3F1866;/*bg*/
    --color2:#3F1866;/*btText*/
    --color3:#9562c7;/*btTextHover*/
    --color4:#F28322;/*textLow*/
    --color5:#F28322;/*main*/
    --color6:#f3a561;/*mainHover*/
    --color7:#F28322;/*fieldTextColor*/
    --color8:#F28322;/*btBorderFocus*/
    --color9:#F28322;/*btShadow*/
    --cardWidth: 85px;
    --cardHeight: 170px;
    --cardWidthSmall: 64px;
    --cardHeightSmall: 128px;
}

/*
--color1:#220000;
--color2:#33230A;
--color3:#93733E;
--color4:#B1905C;
--color5:#D5AD6D;
--color6:#F7CF8F;
--color7:#F9D6AF;
--color8:#F9EFAF;
--color9:#FDF90D;
*/

/*
Layout
*/
html {
    height: 100%;
}
body {
    min-height: calc(100% - 40px);
    position: relative;
}

body{
    font-family: 'Noto Serif', serif;
    color: var(--color5);
    border: 1px solid var(--color5);
    margin: 20px;
    background-color: var(--color1);
    /* background-image: url(../images/background.png); */
}

a, .nav-link, .nav-link.disabled {
    color: var(--color5);
}

a:hover, .nav-link:hover, .nav-link.disabled:hover {
    color: var(--color6);
}

a, .nav-link {
    text-decoration: underline;
}

*::selection {
    color: var(--color8);
    background-color: var(--color3);
}


.nav-link.disabled {
    text-decoration: none;
}

.heading{
    margin-top: 25px;
}

.head-paragraph{
    margin: 25px 0;
    color: var(--color4);
}

.form-group {
    margin-bottom: 25px;
}

.form-control {
    border: 1px solid var(--color5);
    background-color: transparent;
    color: var(--color7);
    transition: all 0.5s, left 0s;
}


.form-control:focus,
.form-control:active {
    border: 1px solid var(--color6);
    background-color: transparent;
    box-shadow: 0 0 0 0.25rem rgba(var(--color9), 0.15); 
    color: var(--color7);
}

.form-control::placeholder {
    color: var(--color7);
}

.btn-primary {
    color: var(--color2);
    background-color: var(--color5);
    border: 1px solid var(--color6);
    transition: all 0.5s, left 0s;
}

.btn-primary:hover,
.btn-primary:focus {
    color: var(--color3);
    background-color: var(--color6);
    border: 1px solid var(--color8);
    box-shadow: 0 0 100px 3rem rgba(var(--color9), 0.15); 
}

#cta {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}

.corner {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid var(--color5);
}
#upper_left {
	position: absolute;
	top: -10px;
	left: -10px;
}
#upper_right {
	position: absolute;
	top: -10px;
	right: -10px;
}
#lower_left {
	position: absolute;
	bottom: -10px;
	left: -10px;
}
#lower_right {
	bottom: -10px;
	right: -10px;
	position: absolute;
}

.scroller {
    overflow-y: scroll;
}
.scroller::-webkit-scrollbar-track {
	background-color: var(--color8);
	border-radius: 10px;
}
.scroller::-webkit-scrollbar {
	width: 6px;
	background-color: var(--color8);
	border-radius: 10px;
}
.scroller::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--color2);
}

/*
Oráculo
*/
.cards {
    margin: 50px auto 0 auto;
    height: 600px;
    position: relative;
}

.oraculo-card {
  width: var(--cardWidth);
  height: var(--cardHeight);
  perspective: 1000px;
  position: absolute;
  transition: all 1s;
}

.oraculo-card:hover {
  transform: scale(1.2) !important;
  cursor: pointer;
}

.oraculo-card.active {
  transform: scale(2) rotate(0deg) !important;
  z-index: 300 !important;
  cursor: auto;
  filter: drop-shadow(0px 0px 60px black)  drop-shadow(0px 0px 60px black);
}

.oraculo-card.disabled {
    filter: grayscale(100%);
}

.oraculo-card img {
    width: var(--cardWidth);
    height: var(--cardHeight);
    filter: drop-shadow(0px 0px 20px black);
    transition: all 0.5s;
}

.oraculo-card:hover img {
    filter: drop-shadow(0px 0px 60px black)  drop-shadow(0px 0px 60px black);
}

.oraculo-card.active, img, .oraculo-card.active:hover img {
    filter: none;
}

.oraculo-card .description {
    margin-left: var(--cardWidth);
    margin-top: calc(var(--cardHeight) * -1);
    padding: 10px;
    background-color: var(--color3);
    display: block;
    color: #fff;
    width: 0px;
    height: var(--cardHeight);
    font-size: 10px;
    transition: width 1s 0.3s, padding-left 1s 0.3s;
    overflow: hidden;
    position: relative;
}

.oraculo-card.active .description {
    width: 200px;
}
.oraculo-card.active .description h4 {
    font-size: 18px;
}
.oraculo-card.active .description .answer {
    font-size: 7px;
    padding: 5px;
}
.oraculo-card.active .description .loading{
    margin-top: 30px;
}
.oraculo-card #close {
    background: url(../images/close.svg) no-repeat center;
    position: absolute;
    top: 5px;
    right: 5px;
    background-size: 10px 10px;
    width: 20px;
    height: 20px;
    text-indent: -9000px;
    cursor: pointer;
}
.oraculo-card .scroller {
    height: 128px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.oraculo-card.active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: var(--cardWidth);
  height: var(--cardHeight);
  backface-visibility: hidden;
}

.flip-card-front {
}

.flip-card-back {
  transform: rotateY(180deg);
}

@media (min-width:990px) {
    .row.cards {
        width: 800px;
    }
}

@media (max-width:767.90px) {
    .row.cards {
        margin: 0 auto;
    }
    .oraculo-card {
      width: var(--cardWidthSmall);
      height: var(--cardHeightSmall);
    }

    .oraculo-card img {
        width: var(--cardWidthSmall);
        height: var(--cardHeightSmall);
    }

    .oraculo-card .description {
        margin-top: calc(var(--cardHeightSmall) * -1);
        margin-left: var(--cardWidthSmall);
        height: var(--cardHeightSmall);
    }

    .oraculo-card.active .description {
        width: 150px;
    }

    .oraculo-card .description .text {
        width: 120px;
    }

    .oraculo-card .description .text h4 {
        font-size: 9px;
    }
    
    .oraculo-card .scroller {
        height: 97px;
    }

    #oraculo .oraculo-card .form-inline {
        width: 120px;
        margin-top: -40px;
    }

    #oraculo .oraculo-card .form-inline input {
        font-size: 7px;
        padding: 3px 6px;
    }

    #oraculo .oraculo-card .form-inline input:first {
        margin-top: 4px;
    }

    #oraculo .oraculo-card .form-inline button {
        font-size: 7px;
        padding: 3px 0;
    }

    #oraculo .oraculo-card .form-inline button .fa-spinner{
        font-size: 5px;
    }
    
    .flip-card-front, .flip-card-back {
      width: var(--cardWidthSmall);
      height: var(--cardHeightSmall);
    }

}